@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FUNDO */
body {
  background: #0b0f1a; /* preto com leve azul */
  color: #eaeaea;
  font-family: 'Playfair Display', serif;
}

/* NAVBAR */
header {
  background: #0f1422;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}

nav a {
  color: #cfcfcf;
  margin: 0 20px;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

nav a:hover {
  color: #ffffff;
}

/* CONTAINER */
.container {
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;
}

/* GRID */
.grid-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.grid-bottom {
  margin-top: 25px;
  display: grid;
  gap: 25px;
}

/* CAIXAS */
.box {
  background: #111827; /* leve azul escuro */
  padding: 30px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.2); /* contorno branco suave */
  transition: 0.3s;
}

.box:hover {
  transform: translateY(-4px);
  border: 1px solid rgba(255,255,255,0.35);
}

/* TAMANHO DAS GRANDES */
.big {
  height: 170px;
}

/* TÍTULOS */
h2 {
  margin-bottom: 10px;
  font-weight: 600;
}

/* RESPONSIVO */
@media (max-width: 700px) {
  .grid-top {
    grid-template-columns: 1fr;
  }
}
